body{
    background-color: black;   
}
h1{
 color: white;
 }
 p{
    background-color: rgb(80, 80, 80);
    color: white;
 }
 .even{
    color: red;
    background-color: white;
 }
.odd{
    color: blue;
    background-color: white;
}